$white: #fff;
$black: #000;
$gray: #666;

$blue: #17629e;
$lightblue: #d5e2ee;
$darkblue: #003e69;

$red: #ed2849;

$yellow: #fdb913;

$green: #8dc63f;

// Fonts
$light-grey: #b9b9ba;
$dark-grey: #666666;